async-generator==1.10
atomicwrites==1.4.0
attrs==21.4.0
boto3==1.20.27
botocore==1.23.27
certifi==2019.9.11
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.10
colorama==0.4.4
cryptography==36.0.1
h11==0.12.0
idna==2.8
importlib-metadata==4.10.0
iniconfig==1.1.1
jmespath==0.10.0
outcome==1.1.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
requests==2.27.0
s3transfer==0.5.0
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
toml==0.10.2
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.0.1
urllib3==1.26.7
wsproto==1.0.0
zipp==3.7.0
